# Ignore Python cache
__pycache__/
*.pyc

# Ignore model checkpoints and results
checkpoints/
results/
video/

# Ignore notebooks outputs
*.ipynb_checkpoints/

# Ignore dataset (since it's actual data)
dataset/

# Optional: Ignore VSCode configs or OS files
.vscode/
.DS_Store

fbx/
style/
glove/
save/
kit/
t2m/
delete/
glove/
save/